<h1>Signal Form</h1>

<p>This page demonstrates datepicker, validation, and a nested address form.</p>

<fieldset>
  <legend>Reactive Form</legend>

  <form (submit)="onSubmit($event)">

    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input matInput [formField]="searchForm.firstName">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" [formField]="searchForm.date">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <!-- @if (searchForm.date().hasError('matDatepickerParse')) { <mat-error>Must be in MM/DD/YYYY format</mat-error> }
      @if (searchForm.date().hasError('required')) { <mat-error>{{ title() }} is required</mat-error> } -->
    </mat-form-field>

    <!-- <fs-address [addressForm]="$any(searchForm.get('addressForm'))"></fs-address> -->

    <button type="submit" matButton="filled" color="primary">
      Submit
    </button>

  </form>
</fieldset>
