<h1>Form</h1>

<p>This page demonstrates datepicker, validation, and a nested address form.</p>

<fieldset>
  <legend>Reactive Form</legend>
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">

    <fs-textbox label="First Name" controlName="firstName" [parentForm]="searchForm"></fs-textbox>

    <fs-datepicker [datePickerFormControl]="$any(searchForm.get('date'))"></fs-datepicker>

    <fs-address [addressForm]="$any(searchForm.get('addressForm'))"></fs-address>

    <button type="submit" matButton="filled" color="primary">
      Submit
    </button>

  </form>
</fieldset>
